* {
  font-family: "JetBrainsMono Nerd Font", "IBM Plex Mono", monospace;
  font-size: 11px;
  color: #d8dee9;
  background: transparent;
  margin: 0;
  padding: 0;
}

/* Workspaces */
#workspaces, #network, #clock, #custom-media, #custom-powermenu, #pulseaudio {
  background-color: rgba(42, 46, 63, 0.85); /* color0 with opacity */
  padding: 0 10px;
  margin-top: 2px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 10px;
}

#workspaces button {
  background: transparent;
  color: #d8dee9;
  padding: 2px 4px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  font-size: 11px;
}

#workspaces button:first-child {
  margin-left: 10px;
}

#workspaces button:last-child {
  margin-right: 10px;
}

#workspaces button:hover {
  background: #4c8eda; /* selection_background */
  color: #1e1e2e; /* selection_foreground */
}

@keyframes pulse {
  0% {
    background-color: #4c8eda;
  }
  50% {
    background-color: #88c0d0;
  }
  100% {
    background-color: #4c8eda;
  }
}

#custom-powermenu:hover {
  background: #e6a97f; /* color3 */
  color: #1e1e2e;
}
